@{
    ViewData["Title"] = "Info";
}

<div class="container">
    <div>
        <h1>Тема: 9. Інтернет-магазин</h1>
        <p>Адміністратор додає інформацію про Товар. Клієнт робить та оплачує Замовлення на Товари. Адміністратор реєструє Продаж і може занести неплатників до «чорного списку».</p>

        <h2>Члени команди:</h2>
        <ul class="list-group team-members">
            <li class="list-group-item">Овчаренко М.О - КН-221в</li>
            <li class="list-group-item">Кряжева Д.Є - КН-221в</li>
            <li class="list-group-item">Шулюпов Є.Р - КН-221в</li>
        </ul>
    </div>
</div>