<div class="row">
	<div class="col-md-6 offset-3 alert alert-success text-center">
		<h2>Your account was created succsessfully</h2>
		<p>You can log in your account</p>
		<hr />
		<p>Thank you!</p>
	</div>
</div>
